@media only screen and (max-width: 640px) {
  #HeaderRightButton button {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  #HeaderRightButton i {
  margin: 10px;
  }
}
@media only screen and (max-width: 640px) {
 #HeaderButtons {
  display: contents;
  }
}
@media only screen and (max-width: 576px) {
  #headerdiv div {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  #headerdiv #websiteTitle a{
  display: contents;
  }
}
@media only screen and (max-width: 576px) {
  #StoryDiv .StoryImageDiv{
   position: relative;
   left: 10px;
}
}
@media only screen and (max-width: 576px) {
  #StoryDiv {
    width: 30%;
}
}
@media only screen and (max-width: 576px) {
  #informationDiv {
    width: 60%;
}
}
@media only screen and (max-width: 576px) {
  #Publications .col-3{
    width: 48%;
  }
}
@media only screen and (max-width: 776px) {
  #Stories .col-3{
 width: 25%;
  }
}
@media only screen and (max-width: 576px) {
  #Stories .col-3{
 width: 50%;
  }
}

@media only screen and (max-width: 576px) {
  .flex-item {
      flex: 1 0 48%; 
  }
}
@media (max-width: 576px) {
  .footer .row {
      flex-direction: column; 
  }
}
body{
          margin: 0px;
          padding: 0px;
          overflow: hidden;
          overflow-y: scroll;
          
}
#headerdiv{
          background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%,#5a64bb 50%, #5a64bb 75%, #5a64bb 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#5a64bb 50%,#5a64bb 75%,#5a64bb 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#e6683c      50%, 75%,#5a64bb 100%); 

  }
#headerdiv a{
          font-size: 30px;
}
#HeaderButtons{
  display: flex;
  margin: 10px;
}
#HeaderButtons div{
  margin-left: 15px;
  position: relative;
  left: 50px;
}
#HeaderButtons button{
          background-color: transparent;
          border: none;
          color: white;
          font-weight: 700;
}
#HeaderRightButton{
          display: flex;
          justify-content: end;
}
.input-wrapper {
          width: 100%;
          position: relative;
          display: inline-block;
}

.input-wrapper input[type='text'] {
          padding:20px;
          width: 100%;
}

.input-wrapper button {
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          background-color: transparent;
          cursor: pointer;
}
.input-wrapper button img{
          width: 60px;
          margin-top: 5px;
}
.modal {
          display: none; 
          position: fixed;
          z-index: 1; 
          padding-top: 100px; 
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto; 
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0,0.4);
        }
      
        .modal-content {
          margin: auto;
          border: 1px solid #888;
          width: auto; 
    max-width: 80%; 
        }
        
        /* The Close Button */
        .close {
          color: #ffffff;
          float: right;
          font-size: 50px;
          font-weight: bold;
          text-align: end;
          position: relative;
          right: 100px;
        }
        
        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }

        /* AdvertisingDiv */
.AdvertisingDiv div {
          margin-top: 15px;
          padding: 5px;
          max-width: fit-content;
          margin-left: auto;
          margin-right: auto;
          background-color: #5a64bb;
          color: white;
        
}

.StoryImageDiv img{
  max-width: 100%; 
  height: auto; /* Maintain aspect ratio */
          border-radius: 50%;
          padding: 5px;
          background: #f09433; 
          background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%,#ca38a7 50%, #5a64bb 75%, #ca38a7 100%); 
          background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#5a64bb 50%,#5a64bb 75%,#5a64bb 100%); 
          background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#e6683c      50%, 75%,#ca38a7 100%); 
     
}
#StoryDiv{
          display: flex;
          justify-content: flex-end;
}
.Userinformationdiv div{
          display: flex;
}
.Userinformationdiv span{
          color: gray;
          margin-left: 10px;
          margin-top: 5px;
}
.followersDiv div p,h5{
          margin-left: 5px;
}


/* Style the tab */
.tab {
  margin-top: 30px;
  overflow: hidden;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;


}
.tabcontent {
  display: none; /* Hide all tab content by default */
}
.tabcontent.active {
  display: block; /* Show active tab content */
}

/* Style the buttons inside the tab */
.tab button {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 30px 10px 30px;
  transition: 0.3s;
  font-size: 17px;

}


/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
  border-image-slice: 1;
  font-weight: 600;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
#Publications div{
  display: inline-block;
}
.card {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card:hover .overlay {
  opacity: 1;
}
.card img {
  transition: transform 0.3s ease;
  width: 100%; 
  height: auto; /* Maintains aspect ratio */
}
.card:hover img {
  transform: scale(1.1);
}


.NoStoryShowingDiv{
   background-color: #b52f61;
   max-width: fit-content;
   margin-left: auto;
   margin-right: auto;
   padding: 15px;
   border-radius: 50%;

}
.NoStoryShowingDiv img{
    width: 50px;  
}
.tabcontent p{
  text-align: center;
  margin-top: 10px;
}
.bottomTextinfo{
 width: 80%;
 margin-top: 50px;
 max-width: fit-content;
 margin-left: auto;
 margin-right: auto;
}

.card {
  cursor: pointer;
}
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding: 0; 
}
img {
  max-width: 100%;
  height: auto;
}
video{
  height: 500px;
}
.nav-button {
  margin: 10px; /* Space out the buttons */
}
.close-button {
  position: absolute;
  top: 50px;
  right: 10px;
  height: 45px;
  background: gray;
  border-radius: 50%;
  border: none;
  font-size: 45px;
  color: #000;
}
.close-button:hover{
  color: white;
}
.close-button span{
  position: relative;
  top: -15px;
}
.tabcontent .col-3{
  width: 24%;
}
.StoriesModalCloseButton{
  position: relative;
  bottom: 300px;
  left: 550px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;  
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: red;
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}
#StoriesModalButtons button{
  background-color: black;
  opacity: 0.5;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#StoriesModalButtons button span{
font-size: 40px;
position: relative;
bottom: 15px;
}

.footer {
  background-color: #343a40; 
  color: white;
  padding: 20px 0;
  margin-top: 100px;
}

.footer h5 {
  font-weight: bold;
}

.footer p {
  margin: 5px 0; 
}

.footer .container {
  max-width: 1200px; 
  margin: auto; 
}

.footer .row {
  display: flex; 
  justify-content: space-between; 
}
.card {
  cursor: pointer;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.nav-button {
  margin: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #000;
}
